<p id="notice"><%= notice %></p>
<body style="background-color:papayawhip;">

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>
<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

  <strong>Reviews:</strong>
  <% @restaurant.reviews.each do |review|%>
    <p style="text-align:left"><%= review.content  %><%= review.rating  %></p>
  <% end %>
</p>


<%= link_to "Return Home", restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
